@function px-to-rem($px-value) {
   @return $px-value / 16 * 1rem
}

.message {
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   justify-content: center;
   opacity: 0;
   margin-block: px-to-rem(20) px-to-rem(36);
   text-align: center;
   border-radius: px-to-rem(4);
   padding: px-to-rem(6);
   margin-inline: px-to-rem(20);
   color: white;
   height: px-to-rem(80);

}

.gameWon {
   opacity: 1;
   background-color: #10A95B;
}

.gameLost {
   opacity: 1;
   background-color: #BA2A2A;
   
}

.message__title {
   color: #F9F4DA;
   font-size: px-to-rem(20);
   font-weight: 500;
   margin-block-end: px-to-rem(3);
}

.message__span {
   color: #F9F4DA;
   font-size: px-to-rem(16);
}

.wrongLetterMessage {
   opacity: 1;
   background-color: #7A5EA7;
}
